$primary-color: #00BBDD;
$secondary-color: #019bb6;
$dark_bg:  #0f1013;
$h1_font: "Montserrat", sans-serif;
$p_font_color: #2b2b2b;
$montse: "Montserrat", sans-serif;
$bebas: "Bebas Neue", sans-serif; 