.conteiner-servicios{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .img-nos{
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 20px;

        @media only screen and (max-width: 992px) {
            height: 300px;
        }

        @media only screen and (max-width: 768px) {
            height: 200px;
        }
    }
}